## Array Assignment

In [1]:
a=[99,48,34,57, 65, 23, 54, 22 ,43 ,21]
b=[99,43 ,34 ,54 ,65 ,23 ,54 ,22 ,43 ,21]
c=["Abdul"," Owais"," Asad ","Talal ","Talha ","Ali"," Azhar ","Sami ","Bakr"," Umar"]

### 1. Print all the elements in the array (Code: Arr-PrintArray)

In [2]:
print(a)
print(b)
print(c)

[99, 48, 34, 57, 65, 23, 54, 22, 43, 21]
[99, 43, 34, 54, 65, 23, 54, 22, 43, 21]
['Abdul', ' Owais', ' Asad ', 'Talal ', 'Talha ', 'Ali', ' Azhar ', 'Sami ', 'Bakr', ' Umar']

### 2. Write a code that assign the values of an array into another array (Code: Arr-ReverseArray)

In [3]:
d=[]
e=[]
f=[]

In [4]:
d=a
e=b
f=c

In [5]:
print(d)
print(e)
print(f)

[99, 48, 34, 57, 65, 23, 54, 22, 43, 21]
[99, 43, 34, 54, 65, 23, 54, 22, 43, 21]
['Abdul', ' Owais', ' Asad ', 'Talal ', 'Talha ', 'Ali', ' Azhar ', 'Sami ', 'Bakr', ' Umar']

### 3. Write a function to Return the Reverse of the array (Code: Arr-ReverseArray)

In [6]:
def reverse_arr(a):
    print(a[::-1])

reverse_arr(a)

[21, 43, 22, 54, 23, 65, 57, 34, 48, 99]

### 4. Write a function to Return the mode of the array

In [7]:
list=[ 2, 1, 4, 3, 2 ,2, 3, 4,0, 5,4]
def mode(a):
    n=0
    mode={}
    for x in list:
        m=0
        for y in list:
            if x==y:
                m=m+1
        if n<m:
            n=m
            mode.clear()
            mode={x}
        if n==m:
            mode.add(x)
    return mode
print(mode(list))

{2, 4}

### 5. Write a function to Return the minimum of the array

In [8]:
list=[ 2, 1,-1, 4, 3, 2 ,2, 3, 4,0, 5]
def min(a):
    min=a[0]
    for x in range(1,len(a)):
        if a[x]<min:
            min=a[x]
    print(min)

min(list)

-1

### 6. Return the Maximum element of the array

In [9]:
list=[ 2, 1,-1, 4, 3, 2 ,2, 3, 4,0, 5]
def max(a):
    max=a[0]
    for x in range(1,len(a)):
        if a[x]>max:
            max=a[x]
    print(max)

max(list)

5

### 7. Return the length of the array

In [10]:
len(list)

11

### 8. Insert the element in the start of the array

In [11]:
list.insert(0,2)
list

[2, 2, 1, -1, 4, 3, 2, 2, 3, 4, 0, 5]

### 9. Insert the element in the end of the array

In [12]:
list.insert(len(list),123)

In [13]:
list

[2, 2, 1, -1, 4, 3, 2, 2, 3, 4, 0, 5, 123]

### 10. Insert the element in the middle

In [14]:
list.insert(int(len(list)/2),111)

In [15]:
list

[2, 2, 1, -1, 4, 3, 111, 2, 2, 3, 4, 0, 5, 123]

### 11. Write a function that returns the Middle element of the array

In [16]:
def middle(a):
    x=len(a)/2
    if len(a)%2==0:
        return a[int(x)],a[int(x)-1]
    else:
        return a[int(x)]
print(middle(list))

(2, 111)

### 12. Write a function that returns the Random index of the array

In [17]:

def random(a):
    x=random.
    return a[x]
print(random(list))

SyntaxError: invalid syntax (1619906860.py, line 2)

### 13. delete the element in the start of the array

In [18]:
list=["ammad","ali","moaz","rizwan","usman","khalid"]
list.pop(0)

'ammad'

In [19]:
list

['ali', 'moaz', 'rizwan', 'usman', 'khalid']

### 14. delete the element in the end of the array

In [20]:
list.pop(len(list)-1)

'khalid'

In [21]:
list

['ali', 'moaz', 'rizwan', 'usman']

### 15. delete the element in the middle of the array

In [22]:
list.pop(int(len(list)/2))

'rizwan'

In [23]:
list

['ali', 'moaz', 'usman']

### 16. Return the sum of the array

In [24]:
arr=[1,2,3,4,5,6,12]
y=0

for x in arr:
    y=x+y
y

33

### 17. Return the average of the array

In [25]:
list=[99, 48, 34, 57, 65, 23, 54, 22, 43, 21]
sum=0
average=0
for x in list:
    sum=x+sum
    average=sum/len(list)
average

46.6

### 18. Return array of elements which are less than the average of the array.

In [26]:
for x in list:
    if x < average:
        print(x)

34
23
22
43
21

### 19. Get the total elements which are even numbers.

In [27]:
total=0
for x in list:
    if x%2==0:
        total+=1
total

4

### 20. Get the total elements which are prime numbers.

In [28]:
total=0
for x in list:
    z=0
    for y in range(2,10):
        if x%y==0:
            z=1
            break
    if z==0:        
        total+=1
total

2

### 21. Get the substring of the array.

In [29]:
list="ammad khan"
list.find("mad")

2

### 22. Compare if two Arrays are equal or not in sequence

In [30]:
list1=[1,2,3,4,5,4,7]
list2=[1,2,3,4,5,6,8]
for x in range(len(list1)):
    if list1[x]!=list2[x]:
        print("not equal")

not equal
not equal

### 23. Compare if two Arrays have same numbers or not ?

In [31]:
if len(list1)!=len(list2):
    print("not equal in lenght")